:root {
  --greenish-cyan-theme: #20e386;
}

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.15px;
}

body {
  background: #141414;
  color: #fff;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 3rem;
  margin: 0.5em 0;
  letter-spacing: 5px;
}

h2 {
  margin: 0.5em 0;
}

img {
  /* min-width: 150px; */
  max-width: 100%;
}

p {
  line-height: 1.7;
}

input {
  width: 100%;
  padding: 0.5em;
  font-size: inherit;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

input,
.btn {
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
}

/* .grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
} */

/* default button style */
.btn {
  display: flex;
  margin: 0.7em 0;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn,
.movie-preview {
  transition: transform 0.4s ease-out;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -ms-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
}

.btn:hover,
.movie-preview:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.txt-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.search-movies {
  height: auto;
  max-height: 25%;
}

.search-movies,
.favorite-movies {
  width: 47%;
}

.search-message {
  display: grid;
  place-items: center;
}

.movies-row-list {
  display: flex;
  justify-content: space-between;
}

.movie-preview {
  max-width: 100%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.movie-container {
  width: 80%;
}

.movie-details {
  display: none;
}

.poster-container {
  position: relative;
}

.fav-icon {
  position: absolute;
  right: 0.375em;
  bottom: 0.3125em;
}

.poster {
  display: block;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.heart-icon {
  margin: 0.2em 0;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
  input {
    margin: 0;
  }
  .btn {
    font-size: 16px;
  }
  .d-flex {
    display: flex;
  }
  .search {
    align-items: center;
    gap: 1em;
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
  }
  .movie-details {
    font-size: 16px;
    /* display: block; */
    max-width: 75%;
    margin-left: 2em;
    padding: 1em 0;
  }
  .movie-preview {
    max-width: 45%;
  }
}
